<% title 'Home' %>

<div class="columns">
  <ul class="column first">
	<li><%= link_to "Attorneys", "#" %></li>
	<li><%= link_to "Diagnosis", "#" %></li>
	<li><%= link_to "Doctors", "#" %></li>
	<li><%= link_to "Insurances", "#" %></li>
  </ul>

  <ul class="column">
	<li><%= link_to "Letters", "#" %></li>
	<li><%= link_to "Paragraphs", "#" %></li>
	<li><%= link_to "Procedures", "#" %></li>
	<li><%= link_to "Referrals", "#" %></li>
  </ul>

  <ul class="column">
	<li><%= link_to "Report Wizard", "#" %></li>
	<li><%= link_to "Statement wizard", "#" %></li>
	<li></li>
	<li><%= link_to "Narrative/SOAP", "#" %></li>
  </ul>

  <ul class="column">
	<li><%= link_to "Day stats", "#" %></li>
	<li><%= link_to "Month stats", "#" %></li>
	<li><%= link_to "Year stats", "#" %></li>
	<li><%= link_to "Clinic A/R", "#" %></li>
  </ul>

  <ul class="column">
	<li><%= link_to "Billing Wizard", "#" %></li>
	<li><%= link_to "Electronic bills", "#" %></li>
	<li></li>
	<li><%= link_to "Preferences", "#" %></li>
  </ul>
</div>
