<h1>...</h1>

<p>
  <strong>Title:</strong>
  <%=h @patient.title %>
</p>
<p>
  <strong>First Name:</strong>
  <%=h @patient.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%=h @patient.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @patient.email %>
</p>
<p>
  <strong>Nickname:</strong>
  <%=h @patient.nickname %>
</p>
<p>
  <strong>Address1:</strong>
  <%=h @patient.address1 %>
</p>
<p>
  <strong>City:</strong>
  <%=h @patient.city %>
</p>
<p>
  <strong>State:</strong>
  <%=h @patient.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%=h @patient.zip %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @patient.phone %>
</p>
<p>
  <strong>Work Phone:</strong>
  <%=h @patient.work_phone %>
</p>
<p>
  <strong>Cell Phone:</strong>
  <%=h @patient.cell_phone %>
</p>
<p>
  <strong>Social Security Number:</strong>
  <%=h @patient.social_security_number %>
</p>
<p>
  <strong>Birth Date:</strong>
  <%=h @patient.birth_date %>
</p>
<p>
  <strong>First Visit:</strong>
  <%=h @patient.first_visit %>
</p>
<p>
  <strong>Last Visit:</strong>
  <%=h @patient.last_visit %>
</p>
<p>
  <strong>Sex:</strong>
  <%=h @patient.sex %>
</p>
<p>
  <strong>Category:</strong>
  <%=h @patient.category_id %>
</p>
<p>
  <strong>Student:</strong>
  <%=h @patient.student %>
</p>
<p>
  <strong>Patient Type:</strong>
  <%=h @patient.patient_type %>
</p>
<p>
  <strong>Married:</strong>
  <%=h @patient.married %>
</p>
<p>
  <strong>Spouse:</strong>
  <%=h @patient.spouse %>
</p>
<p>
  <strong>Account:</strong>
  <%=h @patient.account %>
</p>
<p>
  <strong>Work Status:</strong>
  <%=h @patient.work_status %>
</p>
<p>
  <strong>Clinic:</strong>
  <%=h @patient.clinic_id %>
</p>
<p>
  <strong>Referred By:</strong>
  <%=h @patient.referred_by_id %>
</p>
<p>
  <strong>Occupation:</strong>
  <%=h @patient.occupation %>
</p>
<p>
  <strong>Employer:</strong>
  <%=h @patient.employer %>
</p>
<p>
  <strong>Work Address1:</strong>
  <%=h @patient.work_address1 %>
</p>
<p>
  <strong>Work City:</strong>
  <%=h @patient.work_city %>
</p>
<p>
  <strong>Work State:</strong>
  <%=h @patient.work_state %>
</p>
<p>
  <strong>Work Zip:</strong>
  <%=h @patient.work_zip %>
</p>
<p>
  <strong>Work Comment:</strong>
  <%=h @patient.work_comment %>
</p>
<p>
  <strong>Release Info:</strong>
  <%=h @patient.release_info %>
</p>
<p>
  <strong>Send Statement:</strong>
  <%=h @patient.send_statement %>
</p>
<p>
  <strong>Finance Charge:</strong>
  <%=h @patient.finance_charge %>
</p>
<p>
  <strong>Authorization On File:</strong>
  <%=h @patient.authorization_on_file %>
</p>
<p>
  <strong>Supress Mail:</strong>
  <%=h @patient.supress_mail %>
</p>
<p>
  <strong>Inactive:</strong>
  <%=h @patient.inactive %>
</p>
<p>
  <strong>Top Label:</strong>
  <%=h @patient.top_label %>
</p>

<p>
  <%= link_to "Edit", edit_patient_path(@patient) %> |
  <%= link_to "Destroy", @patient, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", patients_path %>
</p>
